<!DOCTYPE html>
<html>
<head>
	<title>myfood Hub Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.metro.min.css" rel="stylesheet" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.metro.mobile.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="~/Content/jquery.fancybox.min.css" />

	<link rel="stylesheet" href="~/Content/Swiper/swiper.min.css">

	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
	<link rel="manifest" href="~/manifest.txt">

	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/cultures/kendo.culture.fr-FR.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
	<script src="~/Scripts/jquery.fancybox.min.js"></script>

	<script src="~/Scripts/Swiper/swiper.jquery.js"></script>

</head>
<body>
	@using Microsoft.AspNet.Identity

	<div id="nav-section" class="col-md-12 column">
		<!--open nav column-->
		<div class="navbar-default">
			<button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<h1 id="dash-logo" class="center-block" style="font-size: 20px">
			<a href="@(Url.Action("Index", "Home"))">
				<img height="60" src="~/Content/images/myfood-logo.svg" />
			</a>
		</h1>
		<div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
			<ul class="nav">

				@if (Request.IsAuthenticated)
				{
					var manager = new UserManager<myfoodapp.Hub.Models.ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<myfoodapp.Hub.Models.ApplicationUser>(new myfoodapp.Hub.Models.ApplicationDbContext()));
					var user = manager.FindByName(User.Identity.GetUserName());
					if (user != null && manager.IsInRole(user.Id, "Admin"))
					{
						<li>
							<a class="menu-item" href="@(Url.Action("Index", "Messages"))">
								<div class="menu-img">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.286 22.218">
										<defs>
										</defs>
										<g id="_19_Comment_5" data-name="19 Comment_5" transform="translate(0 0)">
											<g id="Fill_320" data-name="Fill 320" class="cls-1" transform="translate(0 0)">
												<path class="cls-3" d="M 1.873366594314575 21.71768379211426 C 1.723576545715332 21.71768379211426 1.57672655582428 21.63655281066895 1.499226570129395 21.5110034942627 C 1.412546634674072 21.37193298339844 1.416996598243713 21.1953125 1.509396553039551 21.05915260314941 C 2.620496511459351 19.42056274414063 2.950946569442749 17.73914337158203 2.519746541976929 15.91866302490234 L 2.495246648788452 15.81524276733398 L 2.430816650390625 15.73073291778564 C 1.167666554450989 14.0741024017334 0.4999966025352478 12.09983253479004 0.4999966025352478 10.02135276794434 C 0.4999966025352478 4.771262645721436 4.824626445770264 0.5000028610229492 10.14032649993896 0.5000028610229492 C 15.45881652832031 0.5000028610229492 19.78571701049805 4.771262645721436 19.78571701049805 10.02135276794434 C 19.78571701049805 15.2686824798584 15.45881652832031 19.53769302368164 10.14032649993896 19.53769302368164 C 9.217216491699219 19.53769302368164 8.30518627166748 19.40883255004883 7.429576396942139 19.15468215942383 L 7.125356674194336 19.06637191772461 L 6.915566444396973 19.30374336242676 C 5.716396808624268 20.66051292419434 4.037386417388916 21.47225379943848 1.925186634063721 21.7164134979248 C 1.913266539573669 21.71768379211426 1.890206575393677 21.71768379211426 1.873366594314575 21.71768379211426 Z M 10.14032649993896 1.351302862167358 C 5.306676387786865 1.351302862167358 1.374216556549072 5.240673065185547 1.374216556549072 10.02135276794434 C 1.374216556549072 11.97820281982422 2.020176649093628 13.82548332214355 3.242246627807617 15.36348247528076 C 3.278396606445313 15.408203125 3.304646492004395 15.46116256713867 3.318906545639038 15.51604270935059 C 3.70660662651062 16.98491287231445 3.649946689605713 18.41640281677246 3.150966644287109 19.77257347106934 L 2.776156663894653 20.79128265380859 L 3.793976545333862 20.4140625 C 4.967216491699219 19.97923278808594 5.887576580047607 19.29122352600098 6.607646465301514 18.31072235107422 C 6.690706729888916 18.19640350341797 6.822796821594238 18.12939262390137 6.962516784667969 18.12939262390137 C 7.013886451721191 18.12939262390137 7.064576625823975 18.13839340209961 7.113176822662354 18.15614318847656 C 8.083266258239746 18.50812339782715 9.10141658782959 18.68640327453613 10.14032649993896 18.68640327453613 C 14.97676658630371 18.68640327453613 18.91149711608887 14.79927253723145 18.91149711608887 10.02135276794434 C 18.91149711608887 5.240673065185547 14.97676658630371 1.351302862167358 10.14032649993896 1.351302862167358 Z" />
												<path class="cls-4" d="M 1.873366594314575 22.21768379211426 C 1.549196600914001 22.21768379211426 1.242806553840637 22.04752349853516 1.073746562004089 21.77361297607422 C 0.8836866021156311 21.46872329711914 0.8922865986824036 21.07808303833008 1.09567654132843 20.77838325500488 C 2.12364649772644 19.26238250732422 2.430316686630249 17.7104434967041 2.033206701278687 16.03390312194824 C 0.7031065821647644 14.28946304321289 -3.4020995371975e-06 12.21030330657959 -3.4020995371975e-06 10.02135276794434 C -3.4020995371975e-06 4.49556303024292 4.548926830291748 2.849731345122564e-06 10.14032649993896 2.849731345122564e-06 C 15.73451614379883 2.849731345122564e-06 20.28571701049805 4.49556303024292 20.28571701049805 10.02135276794434 C 20.28571701049805 15.54438304901123 15.73451614379883 20.03769302368164 10.14032649993896 20.03769302368164 C 9.170046806335449 20.03769302368164 8.211126327514648 19.90216255187988 7.290206432342529 19.63486289978027 C 6.006876468658447 21.08686256408691 4.220976829528809 21.9543628692627 1.982596635818481 22.21310234069824 C 1.945906639099121 22.21768379211426 1.909036636352539 22.21768379211426 1.873366594314575 22.21768379211426 Z M 10.14032649993896 1.851302862167358 C 5.582376480102539 1.851302862167358 1.874216556549072 5.516372680664063 1.874216556549072 10.02135276794434 C 1.874216556549072 11.86407279968262 2.482636690139771 13.60378265380859 3.633716583251953 15.05243301391602 C 3.712096691131592 15.14931297302246 3.77057671546936 15.26614284515381 3.802836656570435 15.39028263092041 C 4.216736793518066 16.95841217041016 4.155296802520752 18.49091339111328 3.620216608047485 19.94522285461426 C 4.698416709899902 19.54562377929688 5.543986797332764 18.91437339782715 6.204646587371826 18.01476287841797 C 6.379956722259521 17.77345275878906 6.663276672363281 17.62939262390137 6.962516784667969 17.62939262390137 C 7.072576522827148 17.62939262390137 7.180976390838623 17.64860343933105 7.284716606140137 17.68649291992188 C 8.198987007141113 18.01821327209473 9.159746170043945 18.18640327453613 10.14032649993896 18.18640327453613 C 14.7010669708252 18.18640327453613 18.41149711608887 14.52357292175293 18.41149711608887 10.02135276794434 C 18.41149711608887 5.516372680664063 14.7010669708252 1.851302862167358 10.14032649993896 1.851302862167358 Z" />
											</g>
											<path id="Fill_321" data-name="Fill 321" class="cls-2" d="M2.343,1.157A1.165,1.165,0,0,1,1.172,2.314,1.165,1.165,0,0,1,0,1.157,1.165,1.165,0,0,1,1.172,0,1.165,1.165,0,0,1,2.343,1.157" transform="translate(8.971 8.707)" />
											<path id="Fill_322" data-name="Fill 322" class="cls-2" d="M2.343,1.157A1.165,1.165,0,0,1,1.172,2.314,1.165,1.165,0,0,1,0,1.157,1.165,1.165,0,0,1,1.172,0,1.165,1.165,0,0,1,2.343,1.157" transform="translate(12.72 8.707)" />
											<path id="Fill_323" data-name="Fill 323" class="cls-2" d="M2.343,1.157A1.165,1.165,0,0,1,1.172,2.314,1.165,1.165,0,0,1,0,1.157,1.165,1.165,0,0,1,1.172,0,1.165,1.165,0,0,1,2.343,1.157" transform="translate(5.223 8.707)" />
										</g>
									</svg>
								</div>
								<div class="menu-text">
									[[[Messages]]]
								</div>
							</a>
						</li>
						<li>
							<a class="menu-item" href="@(Url.Action("Index", "Measures"))">
								<div class="menu-img">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.286 20.286">
										<defs>
										</defs>
										<g id="_3_Diagram_3" data-name="3 Diagram_3" transform="translate(0 0)">
											<g id="Fill_304" data-name="Fill 304" class="cls-1" transform="translate(14.019 5.494)">
												<path class="cls-3" d="M 3.731298685073853 11.33329582214355 L 0.8451487421989441 11.33329582214355 C 0.6548287272453308 11.33329582214355 0.4999987483024597 11.1784553527832 0.4999987483024597 10.98813533782959 L 0.4999987483024597 0.8451555371284485 C 0.4999987483024597 0.6548355221748352 0.6548287272453308 0.4999955296516418 0.8451487421989441 0.4999955296516418 L 3.731298685073853 0.4999955296516418 C 3.921618700027466 0.4999955296516418 4.076458930969238 0.6548355221748352 4.076458930969238 0.8451555371284485 L 4.076458930969238 10.98813533782959 C 4.076458930969238 11.1784553527832 3.921618700027466 11.33329582214355 3.731298685073853 11.33329582214355 Z M 1.190308809280396 1.190305471420288 L 1.190308809280396 1.690305471420288 L 1.190308809280396 10.14298534393311 L 1.190308809280396 10.64298534393311 L 1.690308809280396 10.64298534393311 L 2.886148691177368 10.64298534393311 L 3.386148691177368 10.64298534393311 L 3.386148691177368 10.14298534393311 L 3.386148691177368 1.690305471420288 L 3.386148691177368 1.190305471420288 L 2.886148691177368 1.190305471420288 L 1.690308809280396 1.190305471420288 L 1.190308809280396 1.190305471420288 Z" />
												<path class="cls-4" d="M 3.731298685073853 11.83329582214355 L 0.8451487421989441 11.83329582214355 C 0.3791387379169464 11.83329582214355 -1.24977111681801e-06 11.45415592193604 -1.24977111681801e-06 10.98813533782959 L -1.24977111681801e-06 0.8451555371284485 C -1.24977111681801e-06 0.3791355192661285 0.3791387379169464 -4.473114131542388e-06 0.8451487421989441 -4.473114131542388e-06 L 3.731298685073853 -4.473114131542388e-06 C 4.197318553924561 -4.473114131542388e-06 4.576458930969238 0.3791355192661285 4.576458930969238 0.8451555371284485 L 4.576458930969238 10.98813533782959 C 4.576458930969238 11.45415592193604 4.197318553924561 11.83329582214355 3.731298685073853 11.83329582214355 Z M 1.690308809280396 1.690305471420288 L 1.690308809280396 10.14298534393311 L 2.886148691177368 10.14298534393311 L 2.886148691177368 1.690305471420288 L 1.690308809280396 1.690305471420288 Z" />
											</g>
											<g id="Fill_305" data-name="Fill 305" class="cls-1" transform="translate(7.854)">
												<path class="cls-3" d="M 3.73167896270752 16.82755470275879 L 0.8451489806175232 16.82755470275879 C 0.6548290252685547 16.82755470275879 0.4999990165233612 16.67254638671875 0.4999990165233612 16.48201560974121 L 0.4999990165233612 0.8451554179191589 C 0.4999990165233612 0.6548354625701904 0.6548290252685547 0.4999954402446747 0.8451489806175232 0.4999954402446747 L 3.73167896270752 0.4999954402446747 C 3.921998977661133 0.4999954402446747 4.076838970184326 0.6548354625701904 4.076838970184326 0.8451554179191589 L 4.076838970184326 16.48201560974121 C 4.076838970184326 16.67254638671875 3.921998977661133 16.82755470275879 3.73167896270752 16.82755470275879 Z M 1.190309047698975 1.190305471420288 L 1.190309047698975 1.690305471420288 L 1.190309047698975 15.63686561584473 L 1.190309047698975 16.13686561584473 L 1.690309047698975 16.13686561584473 L 2.886528968811035 16.13686561584473 L 3.386528968811035 16.13686561584473 L 3.386528968811035 15.63686561584473 L 3.386528968811035 1.690305471420288 L 3.386528968811035 1.190305471420288 L 2.886528968811035 1.190305471420288 L 1.690309047698975 1.190305471420288 L 1.190309047698975 1.190305471420288 Z" />
												<path class="cls-4" d="M 3.73167896270752 17.32755470275879 L 0.8451489806175232 17.32755470275879 C 0.3791390061378479 17.32755470275879 -9.917449688146007e-07 16.94824600219727 -9.917449688146007e-07 16.48201560974121 L -9.917449688146007e-07 0.8451554179191589 C -9.917449688146007e-07 0.3791354298591614 0.3791390061378479 -4.555969098873902e-06 0.8451489806175232 -4.555969098873902e-06 L 3.73167896270752 -4.555969098873902e-06 C 4.197699069976807 -4.555969098873902e-06 4.576838970184326 0.3791354298591614 4.576838970184326 0.8451554179191589 L 4.576838970184326 16.48201560974121 C 4.576838970184326 16.94824600219727 4.197699069976807 17.32755470275879 3.73167896270752 17.32755470275879 Z M 1.690309047698975 1.690305471420288 L 1.690309047698975 15.63686561584473 L 2.886528968811035 15.63686561584473 L 2.886528968811035 1.690305471420288 L 1.690309047698975 1.690305471420288 Z" />
											</g>
											<g id="Fill_306" data-name="Fill 306" class="cls-1" transform="translate(1.69 9.72)">
												<path class="cls-3" d="M 3.731298685073853 7.107141017913818 L 0.8451487421989441 7.107141017913818 C 0.6548287272453308 7.107141017913818 0.4999987483024597 6.952311038970947 0.4999987483024597 6.761991024017334 L 0.4999987483024597 0.8451512455940247 C 0.4999987483024597 0.6548312306404114 0.6548287272453308 0.5000012516975403 0.8451487421989441 0.5000012516975403 L 3.731298685073853 0.5000012516975403 C 3.921618700027466 0.5000012516975403 4.076458930969238 0.6548312306404114 4.076458930969238 0.8451512455940247 L 4.076458930969238 6.761991024017334 C 4.076458930969238 6.952311038970947 3.921618700027466 7.107141017913818 3.731298685073853 7.107141017913818 Z M 1.190308809280396 1.190311193466187 L 1.190308809280396 1.690311193466187 L 1.190308809280396 5.916831016540527 L 1.190308809280396 6.416831016540527 L 1.690308809280396 6.416831016540527 L 2.886148691177368 6.416831016540527 L 3.386148691177368 6.416831016540527 L 3.386148691177368 5.916831016540527 L 3.386148691177368 1.690311193466187 L 3.386148691177368 1.190311193466187 L 2.886148691177368 1.190311193466187 L 1.690308809280396 1.190311193466187 L 1.190308809280396 1.190311193466187 Z" />
												<path class="cls-4" d="M 3.731298685073853 7.607141017913818 L 0.8451487421989441 7.607141017913818 C 0.3791387379169464 7.607141017913818 -1.24977111681801e-06 7.228011131286621 -1.24977111681801e-06 6.761991024017334 L -1.24977111681801e-06 0.8451512455940247 C -1.24977111681801e-06 0.3791312277317047 0.3791387379169464 1.224212610395625e-06 0.8451487421989441 1.224212610395625e-06 L 3.731298685073853 1.224212610395625e-06 C 4.197318553924561 1.224212610395625e-06 4.576458930969238 0.3791312277317047 4.576458930969238 0.8451512455940247 L 4.576458930969238 6.761991024017334 C 4.576458930969238 7.228011131286621 4.197318553924561 7.607141017913818 3.731298685073853 7.607141017913818 Z M 1.690308809280396 1.690311193466187 L 1.690308809280396 5.916831016540527 L 2.886148691177368 5.916831016540527 L 2.886148691177368 1.690311193466187 L 1.690308809280396 1.690311193466187 Z" />
											</g>
											<path id="Fill_307" data-name="Fill 307" class="cls-2" d="M19.44,1.69H.845A.845.845,0,0,1,.845,0h18.6a.845.845,0,0,1,0,1.69" transform="translate(0 18.595)" />
										</g>
									</svg>
								</div>
								<div class="menu-text">
									[[[Measures]]]
								</div>
							</a>
						</li>
						<li>
							<a class="menu-item" href="@(Url.Action("Index", "ProductionUnits"))">
								<div class="menu-img">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.286 20.286">
										<defs>
										</defs>
										<g id="_7_Store" data-name="7 Store" transform="translate(0 0)">
											<g id="Fill_242" data-name="Fill 242" class="cls-1" transform="translate(0 0)">
												<path class="cls-2" d="M 17.32711601257324 19.78571701049805 L 3.043036699295044 19.78571701049805 C 2.739746570587158 19.78571701049805 2.52838659286499 19.60381698608398 2.52838659286499 19.4405574798584 L 2.52838659286499 9.508986473083496 L 2.52838659286499 9.153606414794922 L 2.192756652832031 9.036776542663574 C 1.164446592330933 8.678826332092285 0.4999966025352478 7.868796825408936 0.4999966025352478 6.973126411437988 L 0.4999966025352478 2.958436489105225 C 0.4999966025352478 2.897676706314087 0.5304266214370728 2.832016706466675 0.5856866240501404 2.773536682128906 L 2.611396551132202 0.6630666255950928 C 2.709776639938354 0.5616766214370728 2.871826648712158 0.4999966025352478 3.043036699295044 0.4999966025352478 L 17.24313735961914 0.4999966025352478 C 17.41150665283203 0.4999966025352478 17.57744598388672 0.5632166266441345 17.67617607116699 0.6649966239929199 L 19.70319747924805 2.776386499404907 C 19.75525665283203 2.831676483154297 19.78571701049805 2.89755654335022 19.78571701049805 2.958436489105225 L 19.78571701049805 6.973126411437988 C 19.78571701049805 7.8381667137146 19.14960670471191 8.63658618927002 18.16514587402344 9.007196426391602 L 17.84130668640137 9.129106521606445 L 17.84130668640137 9.475136756896973 L 17.84130668640137 19.4405574798584 C 17.84130668640137 19.60381698608398 17.63013648986816 19.78571701049805 17.32711601257324 19.78571701049805 Z M 5.577846527099609 8.314876556396484 L 5.265766620635986 8.565086364746094 C 4.906526565551758 8.853106498718262 4.455296516418457 9.056666374206543 3.960886716842651 9.153766632080078 L 3.557236671447754 9.233036994934082 L 3.557236671447754 9.644396781921387 L 3.557236671447754 18.59539604187012 L 3.557236671447754 19.0953369140625 L 4.05717658996582 19.09539604187012 L 7.099756717681885 19.09577751159668 L 7.599776744842529 19.0958366394043 L 7.599816799163818 18.59581565856934 L 7.600276470184326 13.10114669799805 C 7.600276470184326 12.93784618377686 7.811446666717529 12.75594615936279 8.114466667175293 12.75594615936279 L 12.171706199646 12.75594615936279 C 12.47472667694092 12.75594615936279 12.68589687347412 12.93784618377686 12.68589687347412 13.10110664367676 L 12.68589687347412 18.59539604187012 L 12.68589687347412 19.09545707702637 L 13.18595695495605 19.09539604187012 L 16.3129768371582 19.09501647949219 L 16.81291580200195 19.09495735168457 L 16.81291580200195 18.59501647949219 L 16.81291580200195 9.661126136779785 L 16.81291580200195 9.239706993103027 L 16.39758682250977 9.168346405029297 C 15.87698650360107 9.078896522521973 15.40060615539551 8.870296478271484 15.01995658874512 8.565096855163574 L 14.70787620544434 8.31486701965332 L 14.39525699615479 8.564416885375977 C 13.86526679992676 8.987476348876953 13.16556644439697 9.220466613769531 12.42502689361572 9.220466613769531 C 11.68448638916016 9.220466613769531 10.98477649688721 8.987476348876953 10.45478630065918 8.564416885375977 L 10.14285659790039 8.31541633605957 L 9.830926895141602 8.564416885375977 C 9.300936698913574 8.987476348876953 8.601236343383789 9.220466613769531 7.860696792602539 9.220466613769531 C 7.120156764984131 9.220466613769531 6.420446395874023 8.987476348876953 5.890456676483154 8.564416885375977 L 5.577846527099609 8.314876556396484 Z M 8.628666877746582 13.44664669036865 L 8.628666877746582 13.94664669036865 L 8.628666877746582 18.59539604187012 L 8.628666877746582 19.09539604187012 L 9.128666877746582 19.09539604187012 L 11.15659618377686 19.09539604187012 L 11.6565465927124 19.09539604187012 L 11.65659618377686 18.5954475402832 L 11.65705680847168 13.94669628143311 L 11.65710639953613 13.44664669036865 L 11.15705680847168 13.44664669036865 L 9.128666877746582 13.44664669036865 L 8.628666877746582 13.44664669036865 Z M 14.70718669891357 5.415006637573242 C 15.01021671295166 5.415006637573242 15.22138690948486 5.596906661987305 15.22138690948486 5.760166645050049 L 15.22138690948486 6.973126411437988 C 15.22138690948486 7.831456661224365 16.01449584960938 8.529767036437988 16.98935699462891 8.529767036437988 C 17.9642162322998 8.529767036437988 18.75732612609863 7.831456661224365 18.75732612609863 6.973126411437988 L 18.75732612609863 3.254356622695923 L 18.75732612609863 3.053186655044556 L 18.61799621582031 2.908066511154175 L 17.1163272857666 1.344026565551758 L 16.96874618530273 1.190316557884216 L 16.75565719604492 1.190316557884216 L 3.530056715011597 1.190316557884216 L 3.316966533660889 1.190316557884216 L 3.169386625289917 1.344026565551758 L 1.6677166223526 2.908066511154175 L 1.52838659286499 3.053186655044556 L 1.52838659286499 3.254356622695923 L 1.52838659286499 6.973126411437988 C 1.52838659286499 7.831456661224365 2.321496486663818 8.529767036437988 3.296356678009033 8.529767036437988 C 4.271226406097412 8.529767036437988 5.064336776733398 7.831456661224365 5.064336776733398 6.973126411437988 L 5.064336776733398 5.760166645050049 C 5.064336776733398 5.596906661987305 5.275506496429443 5.415006637573242 5.578526496887207 5.415006637573242 C 5.881546497344971 5.415006637573242 6.092716693878174 5.596906661987305 6.092716693878174 5.760166645050049 L 6.092716693878174 6.973126411437988 C 6.092716693878174 7.831456661224365 6.885826587677002 8.529767036437988 7.860696792602539 8.529767036437988 C 8.835556983947754 8.529767036437988 9.628666877746582 7.831456661224365 9.628666877746582 6.973126411437988 L 9.628666877746582 5.760166645050049 C 9.628666877746582 5.596906661987305 9.839837074279785 5.415006637573242 10.14285659790039 5.415006637573242 C 10.44588661193848 5.415006637573242 10.65705680847168 5.596906661987305 10.65705680847168 5.760166645050049 L 10.65705680847168 6.973126411437988 C 10.65705680847168 7.831456661224365 11.45016670227051 8.529767036437988 12.42502689361572 8.529767036437988 C 13.39988613128662 8.529767036437988 14.19299697875977 7.831456661224365 14.19299697875977 6.973126411437988 L 14.19299697875977 5.760166645050049 C 14.19299697875977 5.596906661987305 14.40416622161865 5.415006637573242 14.70718669891357 5.415006637573242 Z" />
												<path class="cls-3" d="M 17.32711601257324 19.28571701049805 C 17.33208656311035 19.28571701049805 17.33681869506836 19.28556251525879 17.34130668640137 19.28528594970703 L 17.34130668640137 9.475136756896973 L 17.34130668640137 9.005040168762207 C 17.33186912536621 9.006379127502441 17.3223934173584 9.007667541503906 17.31291580200195 9.00890064239502 L 17.31291580200195 9.661126136779785 L 17.31291580200195 18.59501647949219 L 17.31291580200195 19.28571701049805 L 17.32711601257324 19.28571701049805 M 12.18589687347412 19.28571701049805 L 12.18589687347412 18.59539604187012 L 12.18589687347412 13.25637817382813 C 12.18140888214111 13.25610065460205 12.17667770385742 13.25594615936279 12.171706199646 13.25594615936279 L 12.15712547302246 13.25594615936279 L 12.15705680847168 13.94674682617188 L 12.15659618377686 18.59549713134766 L 12.15652751922607 19.28571701049805 L 12.18589687347412 19.28571701049805 M 8.128666877746582 19.28571701049805 L 8.128666877746582 18.59539604187012 L 8.128666877746582 13.94664669036865 L 8.128666877746582 13.25594615936279 L 8.114466667175293 13.25594615936279 C 8.109489440917969 13.25594615936279 8.104756355285645 13.25610065460205 8.100263595581055 13.25637912750244 L 8.09981632232666 18.59585571289063 L 8.099761009216309 19.28571701049805 L 8.128666877746582 19.28571701049805 M 3.057236671447754 19.28571701049805 L 3.057236671447754 18.59539604187012 L 3.057236671447754 9.644396781921387 L 3.057236671447754 9.018418312072754 C 3.047578811645508 9.017496109008789 3.038008213043213 9.016526222229004 3.02838659286499 9.015494346618652 L 3.02838659286499 9.508986473083496 L 3.02838659286499 19.28525924682617 C 3.03301477432251 19.28555297851563 3.037894248962402 19.28571701049805 3.043036699295044 19.28571701049805 L 3.057236671447754 19.28571701049805 M 10.38272857666016 7.86713171005249 C 10.23816394805908 7.596657276153564 10.15705680847168 7.293321132659912 10.15705680847168 6.973126411437988 L 10.15705680847168 5.915438652038574 C 10.15256595611572 5.915160655975342 10.14783191680908 5.915006637573242 10.14285659790039 5.915006637573242 C 10.13788604736328 5.915006637573242 10.13315391540527 5.915160655975342 10.12866687774658 5.915437698364258 L 10.12866687774658 6.973126411437988 C 10.12866687774658 7.293321132659912 10.04756641387939 7.596642971038818 9.90300178527832 7.867117881774902 L 10.14285659790039 7.675656795501709 L 10.38272857666016 7.86713171005249 M 5.818383693695068 7.867122650146484 C 5.673819065093994 7.5966477394104 5.592716693878174 7.293321132659912 5.592716693878174 6.973126411437988 L 5.592716693878174 5.915437698364258 C 5.588229179382324 5.915160655975342 5.583497524261475 5.915006637573242 5.578526496887207 5.915006637573242 C 5.573555946350098 5.915006637573242 5.56882381439209 5.915160655975342 5.564336776733398 5.915437698364258 L 5.564336776733398 6.973126411437988 C 5.564336776733398 7.292352199554443 5.483671188354492 7.594911098480225 5.339927196502686 7.864765167236328 L 5.577156543731689 7.674566745758057 L 5.818383693695068 7.867122650146484 M 14.46733665466309 7.867109298706055 L 14.70856666564941 7.674546718597412 L 14.94578456878662 7.864744663238525 C 14.80204105377197 7.594890117645264 14.72138690948486 7.292352199554443 14.72138690948486 6.973126411437988 L 14.72138690948486 5.915438652038574 C 14.71689605712891 5.915160655975342 14.71216201782227 5.915006637573242 14.70718669891357 5.915006637573242 C 14.70221614837646 5.915006637573242 14.69748401641846 5.915160655975342 14.69299697875977 5.915438175201416 L 14.69299697875977 6.973126411437988 C 14.69299697875977 7.293321132659912 14.61190128326416 7.596634387969971 14.46733665466309 7.867109298706055 M 1.091894030570984 7.457429885864258 C 1.050396323204041 7.302090644836426 1.02838659286499 7.13986873626709 1.02838659286499 6.973126411437988 L 1.02838659286499 3.254356622695923 L 1.02838659286499 3.034394025802612 L 0.9999966025352478 3.063971996307373 L 0.9999966025352478 6.973126411437988 C 0.9999966025352478 7.139213085174561 1.031809449195862 7.302043437957764 1.091894030570984 7.457429885864258 M 19.19787216186523 7.442000865936279 C 19.25531005859375 7.290816307067871 19.28571701049805 7.133159637451172 19.28571701049805 6.973126411437988 L 19.28571701049805 3.063502550125122 L 19.25732612609863 3.033931016921997 L 19.25732612609863 3.254356622695923 L 19.25732612609863 6.973126411437988 C 19.25732612609863 7.134400367736816 19.23676872253418 7.291324615478516 19.19787216186523 7.442000865936279 M 17.32711601257324 20.28571701049805 L 3.043036699295044 20.28571701049805 C 2.483556509017944 20.28571701049805 2.02838659286499 19.90657615661621 2.02838659286499 19.4405574798584 L 2.02838659286499 9.508986473083496 C 0.7963166236877441 9.080106735229492 -3.4020995371975e-06 8.084567070007324 -3.4020995371975e-06 6.973126411437988 L -3.4020995371975e-06 2.958436489105225 C -3.4020995371975e-06 2.769426584243774 0.07894659787416458 2.581796646118164 0.2222865968942642 2.430116653442383 L 2.25067663192749 0.3168365955352783 C 2.446016550064087 0.1154865995049477 2.734816551208496 -3.4020995371975e-06 3.043036699295044 -3.4020995371975e-06 L 17.24313735961914 -3.4020995371975e-06 C 17.54653739929199 -3.4020995371975e-06 17.84257698059082 0.1184465959668159 18.03504753112793 0.3168365955352783 L 20.06388664245605 2.430116653442383 C 20.20693588256836 2.581976652145386 20.28571701049805 2.769596576690674 20.28571701049805 2.958436489105225 L 20.28571701049805 6.973126411437988 C 20.28571701049805 8.048366546630859 19.52249717712402 9.03046703338623 18.34130668640137 9.475136756896973 L 18.34130668640137 19.4405574798584 C 18.34130668640137 19.90657615661621 17.8863468170166 20.28571701049805 17.32711601257324 20.28571701049805 Z M 5.578526496887207 8.95518684387207 C 5.156586647033691 9.293477058410645 4.630536556243896 9.531806945800781 4.057236671447754 9.644396781921387 L 4.057236671447754 18.59539604187012 L 7.099816799163818 18.59577751159668 L 7.100276470184326 13.10110664367676 C 7.100276470184326 12.63507652282715 7.555246829986572 12.25594615936279 8.114466667175293 12.25594615936279 L 12.171706199646 12.25594615936279 C 12.73092651367188 12.25594615936279 13.18589687347412 12.63507652282715 13.18589687347412 13.10110664367676 L 13.18589687347412 18.59539604187012 L 16.31291580200195 18.59501647949219 L 16.31291580200195 9.661126136779785 C 15.70897674560547 9.557356834411621 15.15358638763428 9.313106536865234 14.70718669891357 8.95518684387207 C 14.08895683288574 9.448686599731445 13.27822685241699 9.720466613769531 12.42502689361572 9.720466613769531 C 11.57157707214355 9.720466613769531 10.76108646392822 9.448686599731445 10.14285659790039 8.95518684387207 C 9.524626731872559 9.448686599731445 8.713896751403809 9.720466613769531 7.860696792602539 9.720466613769531 C 7.007246494293213 9.720466613769531 6.196756362915039 9.448686599731445 5.578526496887207 8.95518684387207 Z M 9.128666877746582 13.94664669036865 L 9.128666877746582 18.59539604187012 L 11.15659618377686 18.59539604187012 L 11.15705680847168 13.94664669036865 L 9.128666877746582 13.94664669036865 Z M 14.70718669891357 4.915006637573242 C 15.26641654968262 4.915006637573242 15.72138690948486 5.294146537780762 15.72138690948486 5.760166645050049 L 15.72138690948486 6.973126411437988 C 15.72138690948486 7.555756568908691 16.29019737243652 8.029767036437988 16.98935699462891 8.029767036437988 C 17.68851661682129 8.029767036437988 18.25732612609863 7.555756568908691 18.25732612609863 6.973126411437988 L 18.25732612609863 3.254356622695923 L 16.75565719604492 1.690316557884216 L 3.530056715011597 1.690316557884216 L 2.02838659286499 3.254356622695923 L 2.02838659286499 6.973126411437988 C 2.02838659286499 7.555756568908691 2.597206592559814 8.029767036437988 3.296356678009033 8.029767036437988 C 3.995516538619995 8.029767036437988 4.564336776733398 7.555756568908691 4.564336776733398 6.973126411437988 L 4.564336776733398 5.760166645050049 C 4.564336776733398 5.294146537780762 5.019296646118164 4.915006637573242 5.578526496887207 4.915006637573242 C 6.137756824493408 4.915006637573242 6.592716693878174 5.294146537780762 6.592716693878174 5.760166645050049 L 6.592716693878174 6.973126411437988 C 6.592716693878174 7.555756568908691 7.161536693572998 8.029767036437988 7.860696792602539 8.029767036437988 C 8.559856414794922 8.029767036437988 9.128666877746582 7.555756568908691 9.128666877746582 6.973126411437988 L 9.128666877746582 5.760166645050049 C 9.128666877746582 5.294146537780762 9.583626747131348 4.915006637573242 10.14285659790039 4.915006637573242 C 10.70208644866943 4.915006637573242 11.15705680847168 5.294146537780762 11.15705680847168 5.760166645050049 L 11.15705680847168 6.973126411437988 C 11.15705680847168 7.555756568908691 11.72586631774902 8.029767036437988 12.42502689361572 8.029767036437988 C 13.12418651580811 8.029767036437988 13.69299697875977 7.555756568908691 13.69299697875977 6.973126411437988 L 13.69299697875977 5.760166645050049 C 13.69299697875977 5.294146537780762 14.1479663848877 4.915006637573242 14.70718669891357 4.915006637573242 Z" />
											</g>
										</g>
									</svg>
								</div>
								<div class="menu-text">
									[[[Production Units]]]
								</div>
							</a>
						</li>
						<li>
							<a class="menu-item" href="@(Url.Action("Index", "PerformanceHealth"))">
								<div class="menu-img">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.286 18.354">
										<defs>
										</defs>
										<g id="_2_Like" data-name="2 Like" transform="translate(0 0)">
											<g id="Fill_546" data-name="Fill 546" class="cls-1" transform="translate(0)">
												<path class="cls-2" d="M 10.14455699920654 17.85374069213867 C 10.05490684509277 17.85374069213867 9.973366737365723 17.81834983825684 9.908736228942871 17.75139999389648 L 2.005816698074341 9.583559989929199 C 1.034766554832458 8.580080032348633 0.4999966025352478 7.242330551147461 0.4999966025352478 5.816720485687256 C 0.4999966025352478 4.391090393066406 1.034776568412781 3.053230285644531 2.005826711654663 2.049580335617065 C 2.972156524658203 1.050280332565308 4.258216381072998 0.5000003576278687 5.627176761627197 0.5000003576278687 C 6.996226787567139 0.5000003576278687 8.282536506652832 1.050310373306274 9.249156951904297 2.049550294876099 L 9.785216331481934 2.603610277175903 L 10.14468669891357 2.975150346755981 L 10.5040168762207 2.603480339050293 L 11.0362663269043 2.052970409393311 C 12.00325679779053 1.053870320320129 13.28984642028809 0.5035303235054016 14.65885639190674 0.5035303235054016 C 16.02761650085449 0.5035303235054016 17.31355667114258 1.053810358047485 18.2797966003418 2.0530104637146 C 19.25094604492188 3.05659031867981 19.78571701049805 4.394320487976074 19.78571701049805 5.819900512695313 C 19.78571701049805 7.245480537414551 19.25094604492188 8.583220481872559 18.27991676330566 9.58668041229248 L 10.38077640533447 17.75099945068359 C 10.31575679779053 17.81834983825684 10.234206199646 17.85374069213867 10.14455699920654 17.85374069213867 Z M 5.627316474914551 1.241090297698975 C 4.435546398162842 1.241090297698975 3.31731653213501 1.718480348587036 2.478626489639282 2.585320234298706 C 0.754986584186554 4.36728048324585 0.7550066113471985 7.26632022857666 2.478626489639282 9.047820091247559 L 9.785226821899414 16.59931945800781 L 10.14455699920654 16.97068977355957 L 10.50388622283936 16.59931945800781 L 17.80745697021484 9.050970077514648 C 19.53079605102539 7.269320487976074 19.53079605102539 4.370470523834229 17.8075065612793 2.588890314102173 C 16.96863746643066 1.721650362014771 15.85030651092529 1.244030356407166 14.65853691101074 1.244030356407166 C 13.466796875 1.244030356407166 12.34838676452637 1.721630334854126 11.50932693481445 2.588850259780884 L 10.38077640533447 3.755290269851685 C 10.32478618621826 3.8130202293396 10.23605632781982 3.847740411758423 10.14384651184082 3.847750425338745 C 10.05226707458496 3.847760438919067 9.964396476745605 3.813360452651978 9.908766746520996 3.755730390548706 L 8.776386260986328 2.585320234298706 C 7.937246799468994 1.718450307846069 6.818916797637939 1.241090297698975 5.627316474914551 1.241090297698975 Z" />
												<path class="cls-3" d="M 10.14455699920654 18.35374069213867 C 9.919286727905273 18.35374069213867 9.707786560058594 18.26315116882324 9.549006462097168 18.09867095947266 L 1.646486639976501 9.931240081787109 C 0.5847365856170654 8.834030151367188 -3.4020995371975e-06 7.372800350189209 -3.4020995371975e-06 5.816720485687256 C -3.4020995371975e-06 4.260640144348145 0.5847365856170654 2.7993004322052 1.646486639976501 1.701910376548767 C 2.707776546478271 0.6044203639030457 4.121486663818359 3.46069327861187e-07 5.627176761627197 3.46069327861187e-07 C 7.132926464080811 3.46069327861187e-07 8.546866416931152 0.6044203639030457 9.608526229858398 1.701910376548767 L 10.14455699920654 2.255940437316895 L 10.67680644989014 1.705430388450623 C 11.73901653289795 0.6079403758049011 13.15320682525635 0.003530346089974046 14.65885639190674 0.003530346089974046 C 16.16434669494629 0.003530346089974046 17.57793617248535 0.6079403758049011 18.63922691345215 1.705430388450623 C 19.70097732543945 2.802640438079834 20.28571701049805 4.263850212097168 20.28571701049805 5.819900512695313 C 20.28571701049805 7.375960350036621 19.70097732543945 8.837170600891113 18.63922691345215 9.934380531311035 L 10.74011707305908 18.09867095947266 C 10.58133697509766 18.26315116882324 10.36983680725098 18.35374069213867 10.14455699920654 18.35374069213867 Z M 5.627316474914551 1.741090297698975 C 4.572226524353027 1.741090297698975 3.581616640090942 2.164380311965942 2.837966680526733 2.932990312576294 C 1.299796581268311 4.523200511932373 1.299796581268311 7.110330581665039 2.837966680526733 8.700150489807129 L 10.14455699920654 16.25164031982422 L 17.4481258392334 8.703289985656738 C 18.98600578308105 7.113380432128906 18.98600578308105 4.526420116424561 17.4481258392334 2.936520338058472 C 16.70429611206055 2.167530298233032 15.71359634399414 1.744030356407166 14.65853691101074 1.744030356407166 C 13.60347652435303 1.744030356407166 12.61268615722656 2.167530298233032 11.86866664886475 2.936520338058472 L 10.74011707305908 4.102960109710693 C 10.58925628662109 4.258510112762451 10.37194633483887 4.347730159759521 10.14388656616211 4.347750186920166 C 9.916007041931152 4.347770214080811 9.699176788330078 4.25855016708374 9.549006462097168 4.102960109710693 L 8.417046546936035 2.932990312576294 C 7.673026561737061 2.164380311965942 6.682286739349365 1.741090297698975 5.627316474914551 1.741090297698975 Z" />
											</g>
										</g>
									</svg>
								</div>
								<div class="menu-text">
									[[[Performance &amp; Health]]]
								</div>
							</a>
						</li>
					}
					<li>
						<a class="menu-item" href="@(Url.Action("Index", "Recipes"))">
							<div class="menu-img">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.286 16.66">
									<defs>
									</defs>
									<g id="_18_Book" data-name="18 Book" transform="translate(0 0)">
										<g id="Fill_401" data-name="Fill 401" class="cls-1" transform="translate(0)">
											<path class="cls-2" d="M 10.14328479766846 16.15807342529297 L 10.13494777679443 16.15796852111816 C 10.11404132843018 16.15770530700684 10.09281826019287 16.15528678894043 10.07178974151611 16.15078926086426 L 10.05988788604736 16.1462574005127 L 10.04882717132568 16.14219856262207 L 10.03758716583252 16.13866806030273 C 10.01821708679199 16.13259696960449 10.00182723999023 16.12636756896973 9.987457275390625 16.11962699890137 C 9.975516319274902 16.11389923095703 9.96379280090332 16.10895729064941 9.952800750732422 16.10470199584961 C 7.132609844207764 14.62132453918457 4.152317523956299 13.8688383102417 1.095587491989136 13.8688383102417 C 1.016512393951416 13.8688383102417 0.9363850355148315 13.86935710906982 0.8572753667831421 13.8703670501709 C 0.7547274827957153 13.86714553833008 0.6644463539123535 13.83184146881104 0.6024875640869141 13.77060794830322 C 0.5384675264358521 13.70719814300537 0.4999975562095642 13.61533832550049 0.4999975562095642 13.52529811859131 L 0.4999975562095642 0.8463879227638245 C 0.4999975562095642 0.6582179069519043 0.6533175706863403 0.5033578872680664 0.8417775630950928 0.5011979341506958 C 0.9120975732803345 0.5004379153251648 0.9831575751304626 0.5000479221343994 1.053747534751892 0.5000479221343994 C 4.10872745513916 0.5000479221343994 7.091277599334717 1.220417857170105 9.918547630310059 2.64114785194397 L 10.14304733276367 2.753968000411987 L 10.3675479888916 2.64114785194397 C 13.19488716125488 1.220387935638428 16.17591667175293 0.4999979138374329 19.22784805297852 0.4999979138374329 C 19.30004692077637 0.4999979138374329 19.37221717834473 0.5003979206085205 19.44453811645508 0.5011979341506958 C 19.6325569152832 0.5033679008483887 19.78571701049805 0.6582179069519043 19.78571701049805 0.8463879227638245 L 19.78571701049805 13.52529811859131 C 19.78571701049805 13.61548805236816 19.74740791320801 13.70719814300537 19.68323707580566 13.77060794830322 C 19.62568664550781 13.8273458480835 19.52375984191895 13.86720657348633 19.42840194702148 13.87038040161133 C 19.35493659973145 13.86952209472656 19.28141212463379 13.8690881729126 19.20804786682129 13.8690881729126 C 16.13972473144531 13.8690881729126 13.15369510650635 14.621337890625 10.33217239379883 16.1050968170166 C 10.3226318359375 16.10882186889648 10.31236553192139 16.11312294006348 10.30136775970459 16.11818885803223 L 10.29890727996826 16.11931800842285 L 10.29646778106689 16.12046813964844 C 10.28377723693848 16.12648773193359 10.26719760894775 16.13274765014648 10.24718761444092 16.13908767700195 L 10.23852729797363 16.14183807373047 L 10.22996711730957 16.1448974609375 C 10.22448348999023 16.14685440063477 10.21909427642822 16.14885711669922 10.21376800537109 16.15088081359863 C 10.19254016876221 16.15532112121582 10.17133235931396 16.15771102905273 10.15065765380859 16.15797805786133 L 10.14328479766846 16.15807342529297 Z M 1.190317511558533 1.183807849884033 L 1.190317511558533 1.701437950134277 L 1.190317511558533 12.68887805938721 L 1.190317511558533 13.17335796356201 L 1.674557566642761 13.18862819671631 C 4.214107513427734 13.26872825622559 6.709637641906738 13.85203838348389 9.091827392578125 14.92237758636475 L 9.796697616577148 15.2390775680542 L 9.796747207641602 14.46633815765381 L 9.797507286071777 3.660707950592041 L 9.797527313232422 3.350667953491211 L 9.519827842712402 3.212817907333374 C 7.018967628479004 1.971357941627502 4.390567779541016 1.294737935066223 1.707637548446655 1.201737880706787 L 1.190317511558533 1.183807849884033 Z M 19.09539794921875 1.183797955513 L 18.57806777954102 1.201737880706787 C 15.89506721496582 1.294777870178223 13.26666736602783 1.971397876739502 10.76588726043701 3.212817907333374 L 10.48820781707764 3.350657939910889 L 10.48820781707764 3.660667896270752 L 10.48820781707764 14.46553802490234 L 10.48820781707764 15.23802757263184 L 11.19295787811279 14.92169761657715 C 13.57658767700195 13.85178756713867 16.07242774963379 13.26869773864746 18.61115837097168 13.18862819671631 L 19.09539794921875 13.17335796356201 L 19.09539794921875 12.68887805938721 L 19.09539794921875 1.701437950134277 L 19.09539794921875 1.183797955513 Z" />
											<path class="cls-3" d="M 10.14342784881592 16.65983772277832 L 10.14266777038574 16.65983772277832 C 10.13896751403809 16.65983772277832 10.13548755645752 16.65919876098633 10.13204765319824 16.6585578918457 L 10.12858772277832 16.65792846679688 C 10.07116794586182 16.65719795227051 10.01330757141113 16.65028762817383 9.956667900085449 16.63739776611328 L 9.947597503662109 16.63516807556152 C 9.94147777557373 16.6336784362793 9.936147689819336 16.63238716125488 9.930807113647461 16.63092803955078 C 9.919927597045898 16.62820816040039 9.910237312316895 16.62440872192383 9.89998722076416 16.6203784942627 C 9.895967483520508 16.61880874633789 9.891947746276855 16.61722755432129 9.88782787322998 16.61571884155273 C 9.846957206726074 16.6028881072998 9.810117721557617 16.58870697021484 9.775237083435059 16.57235717773438 C 9.771147727966309 16.57039833068848 9.766897201538086 16.56902885437012 9.762637138366699 16.56764793395996 C 9.757687568664551 16.5660572052002 9.752857208251953 16.56449699401855 9.748237609863281 16.56207847595215 C 6.991227626800537 15.10675811767578 4.080057621002197 14.3688383102417 1.095587491989136 14.3688383102417 C 1.015627503395081 14.3688383102417 0.9345675706863403 14.36937808990479 0.8546675443649292 14.37044811248779 C 0.62044757604599 14.36618804931641 0.4060775637626648 14.27946758270264 0.2510375380516052 14.12625789642334 C 0.09149754792451859 13.96823787689209 -2.44842522079125e-06 13.74918746948242 -2.44842522079125e-06 13.52529811859131 L -2.44842522079125e-06 0.8463879227638245 C -2.44842522079125e-06 0.3856679201126099 0.3750475645065308 0.006527907680720091 0.8360275626182556 0.001227907720021904 C 0.9085075259208679 0.000447907717898488 0.9813675284385681 4.790771345142275e-05 1.053747534751892 4.790771345142275e-05 C 4.187397480010986 4.790771345142275e-05 7.245477676391602 0.7383279204368591 10.14304733276367 2.194387912750244 C 13.04067802429199 0.7382978796958923 16.09736824035645 -2.092285058097332e-06 19.22784805297852 -2.092285058097332e-06 C 19.30188751220703 -2.092285058097332e-06 19.37589836120605 0.0004079077043570578 19.4500675201416 0.001227907720021904 C 19.91084671020508 0.006537907756865025 20.28571701049805 0.3856679201126099 20.28571701049805 0.8463879227638245 L 20.28571701049805 13.52529811859131 C 20.28571701049805 13.74955749511719 20.19421768188477 13.96860790252686 20.03467750549316 14.12625789642334 C 19.88363838195801 14.27516746520996 19.65811729431152 14.36644744873047 19.43142700195313 14.37044811248779 C 19.35695838928223 14.36954784393311 19.28241729736328 14.3690881729126 19.20804786682129 14.3690881729126 C 16.21175765991211 14.3690881729126 13.29455757141113 15.10691833496094 10.53747749328613 16.56207847595215 C 10.53272724151611 16.5645580291748 10.52785778045654 16.56614875793457 10.52294731140137 16.5677375793457 C 10.51880741119385 16.56908798217773 10.51464748382568 16.57043838500977 10.51047801971436 16.57235717773438 C 10.47696781158447 16.58822822570801 10.44025802612305 16.60240745544434 10.39826774597168 16.61571884155273 C 10.39370727539063 16.61734771728516 10.3892879486084 16.61905860900879 10.38490772247314 16.62075805664063 C 10.37483787536621 16.62464714050293 10.36540794372559 16.6283073425293 10.35490798950195 16.63092803955078 C 10.35012722015381 16.63222885131836 10.34536743164063 16.63340759277344 10.3405179977417 16.63459777832031 L 10.32941722869873 16.63739776611328 C 10.27237796783447 16.65028762817383 10.2144079208374 16.65719795227051 10.15711784362793 16.65793800354004 L 10.1536979675293 16.65854835510254 C 10.15027713775635 16.65919876098633 10.14684772491455 16.65983772277832 10.14342784881592 16.65983772277832 Z M 1.690317511558533 1.701437950134277 L 1.690317511558533 12.68887805938721 C 4.295677661895752 12.77104759216309 6.854987621307373 13.36919784545898 9.296747207641602 14.46629810333252 L 9.297507286071777 3.660667896270752 C 6.861217498779297 2.451267957687378 4.301697731018066 1.791957855224609 1.690317511558533 1.701437950134277 Z M 18.59539794921875 1.701437950134277 C 15.98410797119141 1.791987895965576 13.42467784881592 2.451177835464478 10.98820781707764 3.660667896270752 L 10.98820781707764 14.46553802490234 C 13.43201732635498 13.36861801147461 15.99164772033691 12.77099800109863 18.59539794921875 12.68887805938721 L 18.59539794921875 1.701437950134277 Z" />
										</g>
									</g>
								</svg>
							</div>
							<div class="menu-text">
								[[[Calendar]]]
							</div>
						</a>
					</li>
					<li>
						<a class="menu-item" href="@(Url.Action("Update", "MyInfo"))">
							<div class="menu-img">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.286 20.286">
									<defs>
									</defs>
									<g id="_38_Info" data-name="38 Info" transform="translate(0 0)">
										<path id="Fill_20" data-name="Fill 20" class="cls-1" d="M.845,7.024A.844.844,0,0,1,0,6.179V.845a.845.845,0,0,1,1.69,0V6.179a.844.844,0,0,1-.845.845" transform="translate(9.298 8.321)" />
										<path id="Fill_21" data-name="Fill 21" class="cls-1" d="M0,1.057A1.057,1.057,0,1,1,1.057,2.113,1.057,1.057,0,0,1,0,1.057" transform="translate(9.086 4.94)" />
										<g id="Fill_18" data-name="Fill 18" class="cls-2" transform="translate(0)">
											<path class="cls-3" d="M 10.14304733276367 19.78571701049805 C 4.825847625732422 19.78571701049805 0.4999975562095642 15.46003723144531 0.4999975562095642 10.14304733276367 C 0.4999975562095642 4.825847625732422 4.825847625732422 0.4999975562095642 10.14304733276367 0.4999975562095642 C 15.46003723144531 0.4999975562095642 19.78571701049805 4.825847625732422 19.78571701049805 10.14304733276367 C 19.78571701049805 15.46003723144531 15.46003723144531 19.78571701049805 10.14304733276367 19.78571701049805 Z M 10.14304733276367 1.190317511558533 C 5.206497669219971 1.190317511558533 1.190317511558533 5.206497669219971 1.190317511558533 10.14304733276367 C 1.190317511558533 15.07938766479492 5.206497669219971 19.09539794921875 10.14304733276367 19.09539794921875 C 15.07938766479492 19.09539794921875 19.09539794921875 15.07938766479492 19.09539794921875 10.14304733276367 C 19.09539794921875 5.206497669219971 15.07938766479492 1.190317511558533 10.14304733276367 1.190317511558533 Z" />
											<path class="cls-4" d="M 10.14304733276367 20.28571701049805 C 4.55015754699707 20.28571701049805 -2.44842522079125e-06 15.73572731018066 -2.44842522079125e-06 10.14304733276367 C -2.44842522079125e-06 4.55015754699707 4.55015754699707 -2.44842522079125e-06 10.14304733276367 -2.44842522079125e-06 C 15.73573780059814 -2.44842522079125e-06 20.28571701049805 4.55015754699707 20.28571701049805 10.14304733276367 C 20.28571701049805 15.73572731018066 15.73573780059814 20.28571701049805 10.14304733276367 20.28571701049805 Z M 10.14304733276367 1.690317511558533 C 5.482197761535645 1.690317511558533 1.690317511558533 5.482197761535645 1.690317511558533 10.14304733276367 C 1.690317511558533 14.80368709564209 5.482197761535645 18.59539794921875 10.14304733276367 18.59539794921875 C 14.80368709564209 18.59539794921875 18.59539794921875 14.80368709564209 18.59539794921875 10.14304733276367 C 18.59539794921875 5.482197761535645 14.80368709564209 1.690317511558533 10.14304733276367 1.690317511558533 Z" />
										</g>
									</g>
								</svg>
							</div>
							<div class="menu-text">[[[My Information]]]</div>
						</a>
					</li>
				}

				@if (Request.IsAuthenticated)
				{
					var manager = new UserManager<myfoodapp.Hub.Models.ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<myfoodapp.Hub.Models.ApplicationUser>(new myfoodapp.Hub.Models.ApplicationDbContext()));
					var user = manager.FindByName(User.Identity.GetUserName());
					if (user != null && manager.IsInRole(user.Id, "Admin"))
					{
						<li id="About">
							<a class="menu-item" href="@(Url.Action("Index", "About"))">
								<div class="menu-img">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
										<defs>
										</defs>
										<path id="Path_43" data-name="Path 43" class="cls-1" d="M0,2.1V18.9A2.1,2.1,0,0,0,2.1,21H18.9A2.1,2.1,0,0,0,21,18.9V2.1A2.1,2.1,0,0,0,18.9,0H2.1A2.1,2.1,0,0,0,0,2.1Zm17.85,16.8H3.146A1.051,1.051,0,0,1,2.1,17.85V3.15A1.051,1.051,0,0,1,3.146,2.1h14.7A1.051,1.051,0,0,1,18.9,3.15v14.7A1.051,1.051,0,0,1,17.846,18.9ZM6.062,5.25A1.051,1.051,0,0,1,7.113,4.2h6A1.588,1.588,0,0,1,14.7,5.787V8.4a2.106,2.106,0,0,1-2.1,2.1H11.03a.535.535,0,0,0-.535.535v1.053a1.05,1.05,0,1,1-2.1,0V10.266A1.866,1.866,0,0,1,10.262,8.4h1.05a1.05,1.05,0,0,0,0-2.1h-4.2A1.051,1.051,0,0,1,6.062,5.25Zm4.2,9.987a1.05,1.05,0,1,1-1.049-1.049A1.05,1.05,0,0,1,10.262,15.237Z" transform="translate(0.004)" />
									</svg>


								</div>
								<div class="menu-text">
									[[[About]]]
								</div>
							</a>
						</li>
					}
				}

				@if (Request.IsAuthenticated)
				{
					using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
					{
						@Html.AntiForgeryToken()
						<li>
							<a class="menu-item" href="javascript:document.getElementById('logoutForm').submit()">
								<div class="menu-img">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
										<defs>
										</defs>
										<path id="Path_42" data-name="Path 42" class="cls-1" d="M1.859,21H8.625a1.866,1.866,0,0,0,1.867-1.866V17.842A1.043,1.043,0,0,0,9.449,16.8H9.435a1.043,1.043,0,0,0-1.043,1.043v.015A1.042,1.042,0,0,1,7.349,18.9H3.135a1.042,1.042,0,0,1-1.043-1.042V3.142A1.043,1.043,0,0,1,3.135,2.1H7.349A1.043,1.043,0,0,1,8.392,3.142v.014A1.043,1.043,0,0,0,9.435,4.2h.015a1.043,1.043,0,0,0,1.043-1.043V1.866A1.867,1.867,0,0,0,8.625,0H1.859A1.867,1.867,0,0,0-.008,1.866V19.133A1.866,1.866,0,0,0,1.859,21Zm12.126-6.012,0,0a1.043,1.043,0,0,0,.052-1.478l-1-1.073a.525.525,0,0,1,.384-.883h6.522a1.05,1.05,0,0,0,1.05-1.051h0a1.049,1.049,0,0,0-1.05-1.049H13.435a.525.525,0,0,1-.381-.888L14.03,7.54a1.043,1.043,0,0,0-.041-1.481h0a1.043,1.043,0,0,0-1.472.045L9.694,9.094A2.1,2.1,0,0,0,9.7,11.985l2.82,2.956A1.043,1.043,0,0,0,13.985,14.987Z" transform="translate(0.008 0.001)" />
									</svg>
								</div>
								<div class="menu-text">
									[[[Log off]]]
								</div>

							</a>
						</li>
					}
				}
				else
				{
					<li>
						<a class="menu-item" href="@Url.Action("Login", "Account")">
							<div class="menu-img"></div>
							<div class="menu-text">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
									<defs>
									</defs>
									<path id="Path_42" data-name="Path 42" class="cls-1" d="M1.859,21H8.625a1.866,1.866,0,0,0,1.867-1.866V17.842A1.043,1.043,0,0,0,9.449,16.8H9.435a1.043,1.043,0,0,0-1.043,1.043v.015A1.042,1.042,0,0,1,7.349,18.9H3.135a1.042,1.042,0,0,1-1.043-1.042V3.142A1.043,1.043,0,0,1,3.135,2.1H7.349A1.043,1.043,0,0,1,8.392,3.142v.014A1.043,1.043,0,0,0,9.435,4.2h.015a1.043,1.043,0,0,0,1.043-1.043V1.866A1.867,1.867,0,0,0,8.625,0H1.859A1.867,1.867,0,0,0-.008,1.866V19.133A1.866,1.866,0,0,0,1.859,21Zm12.126-6.012,0,0a1.043,1.043,0,0,0,.052-1.478l-1-1.073a.525.525,0,0,1,.384-.883h6.522a1.05,1.05,0,0,0,1.05-1.051h0a1.049,1.049,0,0,0-1.05-1.049H13.435a.525.525,0,0,1-.381-.888L14.03,7.54a1.043,1.043,0,0,0-.041-1.481h0a1.043,1.043,0,0,0-1.472.045L9.694,9.094A2.1,2.1,0,0,0,9.7,11.985l2.82,2.956A1.043,1.043,0,0,0,13.985,14.987Z" transform="translate(0.008 0.001)" />
								</svg>
								[[[Login]]]
							</div>
						</a>
					</li>
				}
			</ul>
		</div>
	</div><!--close left column-->
	<div id="main-section" class="col-md-12 column">
		<!--open main column-->
		@RenderBody()
	</div><!--close main column-->
	@*</div><!--close row-->
		</div><!--close container-->*@
	<script>
		$(document).ready(function () {
			$('[data-toggle=offcanvas]').click(function () {
				$('.row-offcanvas').toggleClass('active');
			});
		});
	</script>
	<style type="text/css">
		@@media screen and (max-width: 480px) {
			#rights {
				visibility: hidden;
				display: none;
			}
		}

		a:link {
			color: #ffffff;
		}
		/* normal link */
		a:visited {
			color: #ffffff;
		}
		/* visited link */
		a:hover {
			color: #ffffff;
		}
		/* mouse over link */
		a:active {
			color: #ffffff;
		}
		/* selected link */
	</style>
</body>
</html>
